<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue UMD示例</title>

        <!-- UMD完整版 -->
        <script src="../../vendor/vue/2.6.10/vue.min.js"></script>
    </head>
    <body>
        <div id="app">
            <input v-model="message"/>
        </div>

        <script>
            var vm = new Vue({
                el: "#app",
                data: { // 数据绑定
                    message: 'This is a Message!'
                },
                watch: { // 监视（值发生变动时调用）

                    message: function (newValue, oldValue) {
                        // ...
                    },

                    // 深度watcher
                    message: {
                        handler: function (val, oldVal) { /* ... */
                        },
                        deep: true
                    },

                    // 该回调将会在侦听开始之后被立即调用
                    message: {
                        handler: function (val, oldVal) {

                        },
                        immediate: true
                    },

                    // 绑定多个方法
                    message: [
                        function handle1(val, oldVal) {
                        },
                        function handle2(val, oldVal) {
                        }
                    ]
                }
            });
        </script>
    </body>
</html>